[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/Color-Sampler-Pack"]
	path = .vim/bundle/Color-Sampler-Pack
	url = git://github.com/vim-scripts/Color-Sampler-Pack.git
[submodule ".vim/bundle/Command-T"]
	path = .vim/bundle/Command-T
	url = git://github.com/wincent/Command-T.git
[submodule ".vim/bundle/gundo.vim"]
	path = .vim/bundle/gundo.vim
	url = git://github.com/sjl/gundo.vim.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/rubycomplete.vim"]
	path = .vim/bundle/rubycomplete.vim
	url = git://github.com/vim-scripts/rubycomplete.vim.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule ".vim/bundle/vim-bundler"]
	path = .vim/bundle/vim-bundler
	url = git://github.com/tpope/vim-bundler.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/vim-rake"]
	path = .vim/bundle/vim-rake
	url = git://github.com/tpope/vim-rake.git
[submodule ".vim/bundle/vim-rvm"]
	path = .vim/bundle/vim-rvm
	url = git://github.com/tpope/vim-rvm.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-powerline"]
	path = .vim/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
;[submodule ".vim/bundle/ScrollColors"]
	;path = .vim/bundle/ScrollColors
	;url = git://github.com/VimEz/ScrollColors.git
[submodule "tagbar"]
	path = tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/ZoomWin"]
	path = .vim/bundle/ZoomWin
	url = git://github.com/vim-scripts/ZoomWin.git
